{%extends "layout.html" %}
{% block content %}
<style>

@media screen and (max-width: 600px){
    .date-style{
        left: 41%;
}
}

@media screen and (max-width: 764px){
    .date-style{
        left: 37%;
}
}

@media screen and (min-width: 1024px){
    .border-split{
        padding-left: 5%; 
        border-left: 1px solid black;
    }
    .date-style{
        left: 40%;
}
    
}
</style>


<h1>Child {{title}}</h1>
          <article style="padding: 5px 0px; height: 90%; margin:12px; width:100%; display:inline-block" class="col-md-7 media content-section">
            <div style='margin-left:5px;' class="media-body">
              <div class="article-metadata">
                <h2 style='color:deepskyblue'>{{ child.FirstName }} {{child.LastName}}</h2> 
              </div>
              <div class="row">
                <div class="col-md-6">
                    <br>
                    
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Password:</label>
                        <p class="article-content">{{ child.Password }}</p>
                    </div>

                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Age:</label>
                        <p class="article-content">{{ child.Age }}</p>
                    </div>

                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Grade:</label>
                        <p class="article-content">{{ child.Grade }}</p>
                    </div>

                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Degree:</label>
                        <p class="article-content">{{ child.Degree }}</p>
                    </div>
                </div>
                <div class="col-md-6 border-split">
                    <br>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">Disability Type:</label>
                        <p class="article-content">{{ child.Disability_Type }}</p>
                    </div>
                    <div class='form-group row col-md-12'>
                        <label style="font-weight: 800; margin: 0 7px;">ClassRoom:</label>
                        <p class="article-content">{{ child.ClassRoom }}</p>
                    </div>
                </div>
              </div>
            </div>
          </article>
{% endblock content %}