{%extends "layout.html" %}
{% block content %}
<style>

@media screen and (max-width: 600px){
    .date-style{
        left: 41%;
}
}

@media screen and (max-width: 764px){
    .date-style{
        left: 37%;
}
}

@media screen and (min-width: 1024px){
    .border-split{
        padding-left: 5%; 
        border-left: 1px solid black;
    }
    .date-style{
        left: 40%;
}
    
}
</style>

<div class="text-center">
    <h3 class="col-md-6">Child {{title}}</h3>
    <article style="padding: 5px 5px; height: 90%; margin:12px; width:100%; display:inline-block" class="col-md-7 media content-section">
      <div style='margin-left:5px;' class="media-body">
        <div class="article-metadata">
          <h2 style='color:deepskyblue'>{{ child.FirstName }} {{child.LastName}}</h2> 
        </div>
        <div class="row">
          <div class="col-md-6">
              <br>
              
              <div class='form-group row col-md-12'>
                  <label style="font-weight: 800; margin: 0 7px;">Password:</label>
                  <p id="child_password" class="article-content">{{ child.Password }} </p> 
                  <button type="button" class="btn btn-success my-auto mx-auto" onclick="ChangePassword(event)">Change Password</button>
              </div>
              

              <div class='form-group row col-md-12'>
                  <label style="font-weight: 800; margin: 0 7px;">Age:</label>
                  <p class="article-content">{{ child.Age }}</p>
              </div>

              <div class='form-group row col-md-12'>
                  <label style="font-weight: 800; margin: 0 7px;">Year:</label>
                  <p class="article-content">{{ child.Year }}</p>
              </div>

              <div class='form-group row col-md-12'>
                  <label style="font-weight: 800; margin: 0 7px;">Mark:</label>
                  <p class="article-content">{{ child.Mark }}</p>
              </div>
          </div>
          <div class="col-md-6 border-split">
              <br>
              <div class='form-group row col-md-12'>
                  <label style="font-weight: 800; margin: 0 7px;">Disability Type:</label>
                  <p class="article-content">{{ child.Disability_Type }}</p>
              </div>
              <div class='form-group row col-md-12'>
                  <label style="font-weight: 800; margin: 0 7px;">ClassRoom:</label>
                  <p class="article-content">{{ child.ClassRoom }}</p>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div style="margin-top: 10px;" class='col-md-6'>
              <a href="{{ url_for('child_list') }}"> <input class="col-md-12 btn btn-danger" type="submit" value="Back to List"> </a>
      </div>
      <div style="margin-top: 10px;" class='col-md-6'>
          <a href="{{ url_for('child_update', child_id = child.id) }}"> <input class="col-md-12 btn btn-primary" type="submit" value="Update"> </a>
  </div>
      </div>
      
    </article>
</div>


<script>

function ChangePassword(e){

    if(confirm("Are you sure you want to change child's password ?"))
    {
        $.ajax({
                type: "GET",
                url: '{{url_for("change_child_password")}}',
                data: { Id: '{{child.id}}' },
                dataType: "json",
            }).done( data => {
                $("#child_password").html(data);
            });
    }
   
}

</script>
{% endblock content %}