<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->

    <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Gloria+Hallelujah|Gochi+Hand|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  
        <style>
            @media screen and (max-width: 764px){
            .prof-img-a{
                margin-right: 10px;
                }
}

        @media screen and (min-width: 1024px) {
        }
        </style>


</head>
<body>
        <header class="site-header">
                <nav style="background-color: black" class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                    <div class="container">
                    <a class="navbar-brand mr-4" href="{{url_for('home')}}">Discovery Nursery</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>

                        <a class="nav-item nav-link" href="{{url_for('child_list')}}">Child</a>

                        <a class="nav-item nav-link" href="{{url_for('contact')}}">Contact us</a>
 
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                            <div style='margin-right: 0vh;' class='row'>
                                <a class="nav-item nav-link" href="{{url_for('account')}}">{{current_user.FirstName}} {{current_user.LastName}}</a>
                            </div>
                            
                                <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                                <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </nav>
                </header>
                <div style='z-index: 9999; position: relative; top: 10vh' class='mx-auto col-md-6 '>
                        {% with messages = get_flashed_messages(with_categories = true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <div style="margin-top: 10vh">
                    {% block content %}{% endblock %}
                </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
